// font-family
$font-primary: "Roboto", sans-serif;
$font-heading: "Montserrat", sans-serif;

// colors
$color-primary: #009cd2;
$color-white: #ffffff;
$color-black: #000;
$color-green: #77b53b;
$color-orange: #f39800;
$color-gray: #eeeeee;
